@model IEnumerable<WebUI.Data.Entities.User>

@{
    ViewData["Title"] = "Главная";
}

<h2>Список пользователей</h2>

@using (Html.BeginForm(FormMethod.Get))
{
    <div class="form-inline">
        @Html.DropDownList("filter", (SelectList)ViewData["UserStatusEnum"], new { @class = "form-control" })
        <input type="submit" value="Применить" class="btn btn-default" />
    </div>
            }
<table class="table">
    <thead>
        <tr>
            <th>
                Статус
            </th>
            <th>
                Пользователь
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string trStatus = "";
            string textStatus = "";
            if (item.IsRemoved)
            {
                trStatus = "danger";
                textStatus = "Удален";
            }
            else
            {
                if (item.IsApproved == null)
                {
                    trStatus = "info";
                    textStatus = "Ожидает подтверждения";
                }
                else
                {
                    if (item.IsApproved == true)
                    {
                        trStatus = "success";
                        textStatus = "Принят";
                    }
                    else
                    {
                        trStatus = "warning";
                        textStatus = "Отклонен";
                    }
                }
            }
            <tr class="@trStatus">
                <td>
                    <button class="btn-strong btn btn-@trStatus">@textStatus</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <div class="form-inline">
                        @switch (trStatus)
                        {
                            case "danger": // deleted user
                                <a asp-action="Restore" asp-route-id="@item.Id" class="action-btn btn btn-info">Восстановить</a>
                                break;
                            case "success":// accepted user
                                @*<a asp-action="Reject" asp-route-id="@item.Id" class="action-btn btn btn-warning">Отклонить</a>*@
                                <a asp-action="Delete" asp-route-id="@item.Id" class="action-btn btn btn-danger">Удалить</a>
                                break;
                            case "info":// waiting user
                                <a asp-action="Accept" asp-route-id="@item.Id" class="action-btn btn btn-success">Подтвердить</a>
                                <a asp-action="Reject" asp-route-id="@item.Id" class="action-btn btn btn-warning">Отклонить</a>
                                break;
                            case "warning":// rejected user
                                <a asp-action="Accept" asp-route-id="@item.Id" class="action-btn btn btn-success">Подтвердить</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="action-btn btn btn-danger">Удалить</a>
                                break;
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagerLinks(totalCount: (int)ViewData["UsersCount"], pageSize: 10, visiblePagesCount: 10)

<style>
    .btn-strong {
        border-radius: 0 !important;
        width: 200px;
    }

    .btn-strong-small {
        border-radius: 0 !important;
        width: auto;
    }

    .action-btn {
        margin-bottom: 5px;
    }
</style>
