@model WebUI.Models.CardsViewModels.ListCardsViewModel
@{
    ViewData["Title"] = "Список карт";
}
<h2>@ViewData["Title"] (всего: @Model.TotalCardsCount)</h2>

@*<p>
    <a asp-action="Create">Добавить новую карту</a>
</p>*@

@using (Html.BeginForm(FormMethod.Get))
{
    <div class="form-inline">
        <input asp-for="Filter.Regnumber" placeholder="Регистрационный знак" class="form-control" style="width: 200px" />
        <input asp-for="Filter.Vin" placeholder="VIN" class="form-control" />
        <input asp-for="Filter.Fullname" placeholder="ФИО" class="form-control" />
        <input asp-for="Filter.StartDate" value="@Model.Filter.StartDate?.ToString("dd.MM.yyyy")" placeholder="Дата создания: от" class="form-control" />
        <input asp-for="Filter.EndDate" value="@Model.Filter.EndDate?.ToString("dd.MM.yyyy")" placeholder="Дата создания: до" class="form-control" />

        @Html.DropDownListFor(m => m.Filter.Status, (SelectList)ViewData["CardStatusEnum"], new { @class = "form-control" })

        @{
            if (User.IsInRole(UserRoles.Admin))
            {
                @Html.DropDownListFor(m => m.Filter.UserId, (SelectList)ViewData["UsersList"], new { @class = "form-control" })
            }
        }

        <button type="submit" class="btn btn-warning">Поиск</button>
    </div>
            }

@*<form id="register_form" method="post" asp-action="Register">
    <input type="hidden" id="reg_form_card_id" name="id" />
</form>*@

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().RegisteredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().Fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().VIN)
        </th>
        <th>
            Марка, модель (год)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().CardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().RegNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().ExpirationDate)
        </th>
        @if (User.IsInRole(UserRoles.Admin))
        {
            <th>
                Пользователь
            </th>
        }
        <th></th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model.Cards)
    {
        <tr>
            <td title="@item.CreatedDate.ToString("dd.MM.yyyy hh:mm:ss")">
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td title="@item.RegisteredDate?.ToString("dd.MM.yyyy hh:mm:ss")">
                @Html.DisplayFor(modelItem => item.RegisteredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
                @Html.DisplayFor(modelItem => item.Model) (@Html.DisplayFor(modelItem => item.IssueYear))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            @if (User.IsInRole(UserRoles.Admin))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)

                </td>
            }
            <td class="col-md-1 container actions">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" title="Детали">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
                <a asp-action="Create" asp-route-id="@item.Id" class="btn btn-primary" title="Создать новую на основе этой">
                    <i class="fa fa-copy" aria-hidden="true"></i>
                </a>
                @if (!item.IsRegistered)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" title="Изменить и зарегистрировать">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Удалить">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    //bool isDayLimitReached = (bool) ViewData["isDayLimitExhausted"];
                    //string isDisabled = isDayLimitReached ? "disabled" : "";
                        @*<a href="" data-id="@item.Id" class="btn btn-success @isDisabled btn-register" title="Зарегистрировать">
                            <i class="fa fa-registered" aria-hidden="true"></i>
                        </a>*@
                }
                else
                {
                    <a asp-action="docx" asp-route-id="@item.Id" class="action-btn btn btn-primary" title="Сформировать бланк">
                        <i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
                    </a>
                    <a asp-action="docx" asp-route-id="@item.Id" asp-route-stamp="false" class="action-btn btn btn-primary" title="Сформировать бланк без печати">
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                    </a>

                }
            </td>
        </tr>
    }
    </tbody>

</table>

@Html.PagerLinks(totalCount: Model.TotalCardsCount, pageSize: 10, visiblePagesCount: 10)

@section Scripts {
    
<script type="text/javascript">
    //$("a.btn-register").on("click",
    //    function(e) {
    //        e.preventDefault();
    //        $("#reg_form_card_id").val($(this).attr("data-id"));
    //        $("#register_form").submit();
    //    });
    $('#Filter_StartDate').datepicker({
        //"altFormat": "yy-mm-dd",
        //"altField": "#Filter_StartDate",
    });
    $('#Filter_EndDate').datepicker({
        //"altFormat": "yy-mm-dd",
        //"altField": "#Filter_StartDate",
    });
    var cardId = @(TempData["GenerateBlankForId"] ?? 0) ;
    if (cardId > 0) {
        window.open("/cards/docx/" + cardId, "_blank");
    }
</script>
}


